
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div id="sidebar" style=" position:absolute;
    top:0; bottom:0; left:0;
    width:20%; height: 100%;
    background:#324454">
<!-- 
    <img src="https://www.filepicker.io/api/file/bKBOqGiQkGjNTYhlSQXG" style="height: 100px; width:100px; margin-left:23%; border-radius: 50%; border-style: solid; border-width: 5px;">
 -->

<div style="margin-left: 40px">
  <br>
  <h2 style= "color: white; font-family: 'Raleway', sans-serif; margin-left: 15%> 
  <a href="vaccines" style="text-decoration: none; color:white"></a>
    <a href="/home" style="text-decoration: none; color:white"> Home</a>
  </h2>

  <h2 style= "color: white; font-family: 'Raleway', sans-serif; margin-left: 15%> 
    <a href="profile" style="text-decoration: none; color:white"></a>
    <a href="profile" style="text-decoration: none; color:white">Profile</a>
  </h2>



  <h2 style="color: white; font-family: 'Raleway', sans-serif; margin-left: 15%>
    <a href="vaccines" style="text-decoration: none; color:white"></a>
    <a href="vaccines" style="text-decoration: none; color:white"> Vaccines</a>
  </h2>
 

  <ul style="list-style: none;"> 
  		<h3 style="color:white; font-family: 'Raleway'"><li><a href="https://www.cdc.gov/flu/index.htm" style="text-decoration: none; color:white"> Influenza </a> </li></h3>
  		<h3 style="color:white; font-family: 'Raleway'"><li><a href="https://www.mayoclinic.org/diseases-conditions/pneumonia/symptoms-causes/syc-20354204" style="text-decoration: none; color:white"> Pneumonia</a> </li><h3>
  		<h3 style="color:white; font-family: 'Raleway'"><li><a href="https://www.mayoclinic.org/diseases-conditions/shingles/symptoms-causes/syc-20353054" style="text-decoration: none; color:white"> Shingles </a></li><h3>
  		<h3 style="color:white; font-family: 'Raleway'"><li><a href="https://www.mayoclinic.org/diseases-conditions/tetanus/symptoms-causes/syc-20351625" style="text-decoration: none; color:white"> Tetanus </a></li><h3>

  </ul>

</div>

</div>

