


<div class="sidenav" style="background:gray; width: 15%; height: 100%;">

  <a href="#about">Profile</a>
  <br>
  <a href="#services">Vaccines</a>
  <ul> 
  		<li> Influenza </li>
  		<li> Pneumonia </li>
  		<li> Shingrix</li>
  		<li> TDAP </li>

  </ul>

</div>

