<!DOCTYPE html>
<head>

{{>homestyle}}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>

<body>

{{>sidebar}}


<!-- <div class="sidenav" style="color:gray;">
  <a href="#about">Profile</a>
  <br>
  <a href="#services">Vaccines</a>
  <ul> 
  		<li> Influenza </li>
  		<li> Pneumonia </li>
  		<li> Shingrix</li>
  		<li> TDAP </li>

  </ul>
  <a href="#clients">Clients</a>
  <br>
  <a href="#contact">Contact</a>
</div>
 -->



<div>

<div style="margin-top: 20px;">
	<h1  style="font-family: 'Raleway', sans-serif; margin-left: 15%"> Welcome Izuku Midoriya! </h1> 
</div>



	<div>
	<img src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/66/Izuku_Midoriya_headshot.png/revision/latest?cb=20170928002152" style="height: 200px; width:200px; margin-left:23%; border-radius: 50%; border-style: solid; border-width: 5px;">
	</div>



<div style="background-color: #9FD8CB; margin-left: 15%; width: 350px; height: 300px">
	
	<h3  style="font-family: 'Raleway', sans-serif; margin-left: 20%;"> <b>User Information:</b></h3> 
	<div style="margin-left: 10px;">
	<h4> <b>Name:</b>  Izuku Midoriya </h4>
	<h4> <b>Age:</b> 15 </h4>
	<h4> <b>Gender:</b> Male </h4>
	<h4> <b>Location:</b> Queens </h4>
	</div>

</div>
</div>



</body>

</html>