
<!DOCTYPE html>

<body>


<div class = "col-lg-3 col-lg-offset-4">
{{>sidebar}}
</div>

<div class = "container" style="margin-left:20%">

{{#each stores}}
	<div> 
		<li> <h1> {{this.facility_name}} </h1> </li>
    	
	</div>
  {{/each}}
</div>



<body>
<html>