<!DOCTYPE html>
<head>

{{>homestyle}}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">

</head>

<body>


<div class="row">

{{>sidebar}}
</div>

<div style="margin-top: 40px; margin-left: 20%;">
	<h1  style="font-family: 'Poppins', sans-serif; margin-left: 15%; font-size: 50px"> Vaccinations You Are Eligable For: </h1> 
</div>

<div style="margin-top: 10px">
<div style="float:left; margin-left: 30%; ">

<a href = "search">
	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px; border-style: solid; border-width: 5px; border-color: red">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Influenza Vaccine </h1>
		 
	</div>
</a>

	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px">
		
		<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px;">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Pneumonia </h1>
		 
	</div>


	</div>





</div>


<div style="float: right; margin-right: 10%">

	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px">
		
		<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px;">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Shingrix </h1>
		 
	</div>


	</div>


	</div>
</div>


</body>

</html>