<!DOCTYPE html>
<head>

{{>homestyle}}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">

</head>

<body>


<div class="row">

{{>sidebar}}
</div>

<div style="margin-top: 40px; margin-left: 20%;">
	<h1  style="font-family: 'Poppins', sans-serif; margin-left: 15%; font-size: 50px"> Vaccinations You Are Eligable For: </h1> 
</div>

<div style="margin-top: 10px">
<div style="float:left; margin-left: 30%; ">

<a href = "search">
	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px; border-style: solid; border-width: 5px; border-color: red">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Influenza Vaccine </h1>
		<p> Influenza (flu) is a contagious respiratory illness caused by influenza viruses. It can cause mild to severe illness. Serious outcomes of flu infection can result in hospitalization or death. Some people, such as older people, young children, and people with certain health conditions, are at high risk of serious flu complications. </p>
		 
	</div>
</a>

	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px">
		
		<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px;">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Pneumonia </h1>

		<p> Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.

 </p>
		 
	</div>


	</div>





</div>


<div style="float: right; margin-right: 10%">

	<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px">
		
		<div style="height: 250px; width: 380px; background: #BCC5D1; margin-bottom: 10px; border-radius: 15px;">
		<br>
		<h1  class="text-center" style="font-family: 'Raleway', sans-serif;"> Shingles </h1>

		<p> Shingles is a viral infection that causes a painful rash. Although shingles can occur anywhere on your body, it most often appears as a single stripe of blisters that wraps around either the left or the right side of your torso.

 </p>
		 
	</div>


	</div>


	</div>
</div>


</body>

</html>